<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/header.css">
    <link rel="stylesheet" href="./stylesheets/about.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

</head>
<body>

<%- include('partials/header', { email: email }) %>


<div class="about-container">
    <h2 class="title container">John Doe</h2>

    <div class="profile-image">
        <img src="/images/about.png" alt="John Doe">
    </div>

    <div class="about-section">
        <h3>About Me</h3>
        <p>
            As a passionate and experienced UI designer, I am dedicated to creating intuitive and engaging user experiences
            that meet the needs of my clients and their users. I have a strong understanding of design principles and
            proficiency in design tools, and I am comfortable working with cross-functional teams to bring projects to
            fruition. I am committed to my ability to create designs that are both visually appealing and functional, and
            I am always looking for new challenges and opportunities to grow as a designer.
        </p>

        <h3>Skills:</h3>
        <ul>
            <li>Extensive experience in UI design, with a strong portfolio of completed projects</li>
            <li>Proficiency in design tools such as Adobe Creative Suite and Sketch</li>
            <li>Attention to visual detail, typography, and usability</li>
            <li>Ability to convert wireframes and prototypes into comprehensive design concepts</li>
            <li>Strong communication and collaboration skills, with the ability to work effectively with cross-functional teams</li>
            <li>Experience conducting user research and usability testing to inform design decisions</li>
            <li>Proficiency in HTML, CSS, and JavaScript</li>
        </ul>

        <h3>Experience:</h3>
        <ul>
            <li>5 years of experience as a UI designer, working on a variety of projects for clients in tech and retail industries</li>
            <li>Led the design of a successful e-commerce platform, resulting in a 20% increase in sales</li>
            <li>Created wireframes and prototypes to support a mobile app redesign, resulting in a 30% increase in app usage</li>
            <li>Conducted user research and usability testing to inform the redesign of a healthcare provider’s website, resulting in a 15% increase in website traffic</li>
        </ul>

        <h3>Education:</h3>
        <p>
        <p>
            Bachelor’s degree in Graphic Design<br>
            Certified User Experience Designer (OUXED)
        </p>

        <footer>
            <p>© 2023  <a href="#">Twitter</a>  <a href="#">LinkedIn</a></p>
        </footer>
    </div>
</div>


</body>
</html>