<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | New Blog</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/new_blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>

<%- include('partials/header', {email}); %>

<div class="container">
    <h2 class="title container">NEW POST</h2>

    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>

    <form class="container" action="/blogs/new" method="post">
        <input type="text" name="title" placeholder="Blog Title">
        <input type="text" name="description" placeholder="Description">
        <textarea name="content" placeholder="Content"></textarea>
        <button class="btn" type="submit">Publish</button>
    </form>
</div>
</body>
</html>
