body {
    font-family: "Inter", sans-serif;
}

.form-container {
    margin: 0 auto;
}

.title {
    color: #1A1A1A;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    margin-top: 50px;
}

@media (max-width: 1440px) {
    .title {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 140px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 100px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 60px;
    }
}

form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

@media (max-width: 576px) {
    form {
        margin-top: 50px;
    }
}

input {
    border-radius: 2px;
    border: 1px solid rgba(109, 110, 118, 0.50);
    padding: 24px;
    color: #232536;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 955px;
    outline: none;
}

@media (max-width: 1440px) {
    input {
        width: 755px;
    }
}

@media (max-width: 1024px) {
    input {
        width: 90%;
    }
}

button {
    width: 955px;
    background-color: #1A1A1A;
    color: #FFF;
    text-align: center;
    font-family: Sen, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 20px 24px;
    box-sizing: content-box;
    border: 1px solid #1A1A1A;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 2px;
}

button:hover {
    background-color: #FFF;
    color: #1A1A1A;
}

@media (max-width: 1440px) {
    button {
        width: 755px;
    }
}

@media (max-width: 1024px) {
    button {
        width: 90%;
    }
}

.sign-up-btn {
    display: flex;
    width: 955px;
    justify-content: center;
    color: #1A1A1A;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    gap: 4px;
    margin: 25px auto 0 auto;
    text-wrap: nowrap;
}

@media (max-width: 1440px) {
    .sign-up-btn {
        width: 755px;
    }
}

@media (max-width: 1024px) {
    .sign-up-btn {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .sign-up-btn {
        font-size: 14px;

    }
}
