body {
    background: #090D1F;
}

.blog-wrapper {
    margin: 78px auto 0;
    display: flex;
}

.recent-blogs {
    width: 342px;
}

.blog-content {
    flex: 1;
}

.username p, .nav-link {
    color: #fff;
}

.blog-date {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #6941C6;
}

.blog-title {
    margin-top: 32px;
    font-family: Inter, monospace;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
}

.blog-text {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
    margin-top: 32px;
}

.recent-blogs-title {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
}