header {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-top: 50px;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    color: #1A1A1A;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 1024px) {
    nav {
        visibility: hidden;
    }
}
