* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  position: relative;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1220px;
}

@media (max-width: 1440px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: auto;
    padding-inline: 50px;
  }
}
